*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}

html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: justify;
}

main{
    flex: 1;
}

footer{
    text-align: right;
}

#cabecalho{
    text-align: center;
}

#nav-bar{
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
}

#nav-bar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

#nav-bar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.5s ease, color 0.3s ease;
}

#nav-bar a:hover{
    color: tomato;
    transform: scale(1.05);
}

#section-conteudo-estadio{
    display: flex;
    flex-direction: column;
}

#imagem-estadio{
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

#titulo-historia,
#titulo-formulario{
    text-align: center;
    margin-top: 10px;
}

#tabela-titulos{
    display: flex;
    flex-direction: column;
}

#tabela{
    margin: 0 auto;
    
}

#tabela th,
#tabela td{
    padding: 5px;
}

.qtd{
    text-align: center;
}

.conteudo-principal{
    margin: 0 20px;
}

.section-conteudo{
    border-bottom: 1px solid  #222;
    margin: 10px 0;
    padding-bottom: 10px;
}

.section-conteudo ul li{
    list-style: none;
    margin: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*===FORMULARIO===*/

.section-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#form input,
#form textarea{
    outline: unset;
    padding: 20px;
    min-width: 300px;
    border: 1px solid rgb(184, 170, 168);
    border-radius: 20px;
}

#form input:focus,
#form textarea:focus{
    background-color: wheat;
}

#form label{
    margin-left: 10px;
}

.meu-botão{
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

}

.meu-botão:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*===Escalação===*/

.mundial1992{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.mundial1992 img{
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.mundial1993{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.mundial1993 img{
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.mundial2005{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.mundial2005 img{
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.section-conteudo{
    margin: 10px;
}